.bg-light{
    background-color: #bdd5ec!important;

}


.margin-top-20{
    margin-top: 15px;
}
.footer{
    text-align: center;
    padding: 3px;
    background-color: #000000;
    color: white;
    
}
.foo333ter{
    text-align: center;
    padding: 3px;
    background-color: #d8b3b3;
    color: white;
    
}